old/
org-roam/
papers.speakerClust/
DOE_brainstorm/
EV adoption papers inspired by Norway/
ltximg/
refwrangle/bin/obsidian-clipper-main/src/side-panel.html
refwrangle/bin/chrome_extensions/obsidian-clipper-main/src/utils/filters/trim.ts
refwrangle/bin/chromedriver-win64.zip
refwrangle/bin/
refwrangle/dat/
refwrangle/test/dat/
refwrangle/test/node_modules/
refwrangle/test/tmp/
reviews/
src/.ipynb_checkpoints/
DistributionClustering/
obsidian/Obsidian Share Vault/lit/lit_sources/
refwrangle/__pycache__/
obsidian/Obsidian Share Vault/tmp_savemychatbot_multiprompt_perplexity_example.md
obsidian/Obsidian Share Vault/tmp_savemychatbot_multiprompt_perplexity_example.md
obsidian/Obsidian Share Vault/.obsidian/plugins/
refwrangle/tmp/watchter/raw/perplexity_2025-02-10_20-04-06.log
refwrangle/tmp/
obsidian/Obsidian Share Vault/Clippings/{@typePerson,@idhttpswww.obsidianstats.compluginsclipper-catalogauthor,nameGreg K.} – Clipper Catalog - A catalog view that provides a powerful interface for all your clipped web articles and content. Easily organize, search, and manage your web.md
obsidian/Obsidian Share Vault/Clippings/{@typePerson,nameNuno Campos,urlhttpsmedium.com@nuno.f.s.campos} – Obsidian Plugins Review — 92 - Obsidian Observer - Medium.md
obsidian/Obsidian Share Vault/tmp_new_cites_perplexity_example.md
obsidian/Obsidian Share Vault/tmp_stock_perplexy_merged.md
obsidian/Obsidian Share Vault/perplexity_2025-02-07_22-14-16.md
obsidian/Obsidian Share Vault/Work/Between Jobs/QCELLs offboarding/attachments/jobactions.xlsx
obsidian/Obsidian Share Vault/Scratch Space/
obsidian/Obsidian Share Vault/.smart-env/
obsidian/Obsidian Share Vault/Work/Between Jobs/QCELLs offboarding/attachments/jobactions.xlsx
refwrangle/tmp.py
refwrangle/zmknote/tmp.py
refwrangle/zmknote/__pycache__
refwrangle/zmknote/action_tags_test_get_all_SAVE_3_1.js
obsidian/Obsidian Share Vault/Work/Between Jobs/QCELLs offboarding/attachments/jobactions.xlsx
refwrangle/zmknote/zotero_note_to_markdown_test.py
refwrangle/zmknote/__pycache__/zotero_to_obsidian_note.cpython-313.pyc
refwrangle/zmknote/__pycache__/zotero_to_obsidian_note.cpython-313.pyc
refwrangle/zmknote/test/multikey_listener_test.py
refwrangle/zmknote/multikey_watcher_test.pymultikey_watcher_test_SAVE.py
refwrangle/zmknote/test/zotero_watcher.log
obsidian/Obsidian Share Vault/.obsidian/workspace.json
refwrangle/zmknote/zotero_item_receiver.log
obsidian/Obsidian Share Vault/.obsidian/workspace.json
/build/
/dist/
*.pkg
*.exe
obsidian/Obsidian Share Vault/.obsidian/hotkeys.json
refwrangle/zmknote/dist/zotero_item_receiver.log
